@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Liberation Mono";
    src:
        url("LiberationMono.woff2") format("woff2"),
        url("LiberationMono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

canvas {
    @apply w-full h-[65vh] min-h-[200px] block mx-auto bg-black;
}

.code {
    @apply px-1 rounded font-mono bg-zinc-900 border border-zinc-700 lowercase;
}
